<table><tr>
	<h1 style="color:#0064C8">Reporte KEEPER</h1><hr>
	</tr><tr>
	<h3>Datos de Sesion Finalizada</h3>
	<li>Usuario:        <b>{{ data.appusername }}</b></li>
	<li>Vehiculo:       <b>{{ data.vehicleidenti }}</b></li>
	<li>Ruta:           <b>{{ data.routename }}</b></li>
	<li>Sesion:         <b>{{ data.sessionid }}</b></li>
	<li>Id Dispositivo: <b>{{ data.imei }}</b></li>
	<li>Fecha:          <b>{{ data.created_at }}</b></li>
	</tr><tr>
	<br>
	<br>
	<a  href="http://kanibal.servebeer.com:4000/">Ingresar a revisar todos los datos capturados &raquo; </a>
	</tr><tr>
	<hr>
    <p align="center"><small>&copy;  Copyright Tedas S.A., Derechos reservados.<small></p>
	</tr>
</table>
